<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lymobility.shanglv">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning,UnusedAttribute"
        android:theme="@style/Theme.Lbtravel"
        tools:replace="android:name"
        >
        <activity
            android:name=".ui.setting.SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".ui.webview.WebActivity"
            android:exported="false" />
        <activity
            android:name=".ui.order.OrderActivity"
            android:exported="false"
            android:label="@string/title_activity_order"
            android:theme="@style/Theme.Lbtravel.NoActionBar" />
        <activity
            android:name=".ui.login.ui.login.LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".ui.travelrequest.TravelRequestActivity"
            android:exported="false"
            android:label="@string/title_activity_travel_request"
            android:theme="@style/Theme.Lbtravel.NoActionBar" />
        <activity
            android:name=".ui.manager.ManagerActivity"
            android:exported="false"
            android:label="@string/title_activity_manager"
            android:theme="@style/Theme.Lbtravel.NoActionBar" />
        <activity
            android:name=".ui.home.MainHomeActivity"
            android:exported="false"
            android:label="@string/title_activity_main_home"
            android:theme="@style/Theme.Lbtravel.NoActionBar"
            />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Lbtravel.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.webview.LicenseActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <category android:name="android.intent.category.MONKEY" />
            </intent-filter>
        </activity>

        <!-- 表示当前项目已经适配了 Android 10 分区存储特性 -->
        <meta-data
            android:name="ScopedStorage"
            android:value="true" />

    </application>

</manifest>